body {
  font-family: 'Droid', Times, serif;}
h1 {
  font-family: 'Yellowtail', sans-serif;
  font-size: 40px;
}

h2.post-title{
  font-family: 'Oswald', sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 4rem;
  width: 824px;}

h2.author{
  font-size: 24px;
  font-weight: bold;
}

p.small-all-caps {
  font-family: 'Abel', sans-serif;
  font-size: 12px;
  color: rgb(85,85,85);}

p.first_ind {
  font-size: 16px;
  text-indent: 30px;
  margin: 20px 0px 0px 0px;
}

section.steps {
  margin: 20px 0px 0px 0px;
}

button.share {
  background-color: rgb(187,112,86);
  color: white;
  height: 54px;
  margin: 10px, 0px, 0px;
}

ul.ingredients {
  font-family: 'Patrick Hand', cursive;
  font-size: 24px;
  background-image: url("images/list-bg.png");
  }

img.greybar {
  margin: 20px 0px 0px 0px;
}

article {
  margin: 50px 0px 0px 0px;
}
